.navbar-lewagon {
  justify-content: space-between;
  background-color: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 50px;
  }
}

.navbar-lewagon-transparent {
  background: transparent;
  transition: 0.5s background-color ease;
}
